sudo: required

language: go

go_import_path: kubevirt.io/containerized-data-importer

go:
- 1.14.6

services:
- docker

env:
  global:
  - DOCKER_TAG=$TRAVIS_TAG
  - secure: RWxtzwVEpMvaJlPUuRo+m6Kv9kJJFID7E0tdbE57d1XJN5nEq9ryxsTu8GIVHDPKIoUs0zqt4MtWi+4Wwb+21B2IoXJiHtc1YUex3L/6h64ztgH0iBjd/2Kv2piN4XVY9eYOUcu0PsSU0+Fv785rNfy2/LOi+3Bgs5d20AU9SZs2QDwKBlgWBXeJx7/aqLeytTUUX4tshBfQsxZkhYfVJgNcA1oUGtGS+zjeYVbmveLYQriOdQsfoWcfSZGumRSVH+jH7YCC2MXvIOfL131aOYm6CS0DlJTR3LDuBtI+9tP5C7eF+4nPO/kkIZzpz9RwkOZK2Ejn6D//unHgbyHqzoU4n4YZxw2DUonwXxCYieQ2nEZI5CQeoKXwV26ufdTvFGUYfYMUUnyk8phlP13eZEIoHNFJR2yeCSVSC6p82kpO0Drl+HJpnpo86IePwlcAp6tOekcGiDuM8i8bRmgPtWQzNxsE34OZ7v1j3S2nCrOgO8S9AE262nM3FsIGXCl2KTtKUDOSx0/1xx27tZhsqGDMOksdfdE6msFTJ1cEU53KoJfyyr1UUAtHfIpGLYu67C3tveBB4pcgvZ8SyiP50O8SQkQWX1ovJPj4kZYEx3PKAvTiwvDcCXU21uJH60Qa3lugiNfabmoX4mxjkRgiUswkW4P/Tc9avVa6g6EKnqA=

notifications:
  irc:
    channels:
    - chat.freenode.net#kubevirt
    on_success: change
    on_failure: always

install:
  - make generate-verify
  - make manifests
  - make bazel-build-images
  - make apidocs

before_script:

jobs:
  allow_failures:
    - script: make goveralls  #coveralls fails often because of the service being down or unavailable.
  include:
    - script: make test-lint test-unit
    - script: make goveralls
  after_success:
    - curl -d "repo=github.com/kubevirt/containerized-data-importer" https://goreportcard.com/checks

before_deploy:
- docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"

deploy:
  # Release :latest images
- provider: script
  script: make builder-push && make publish && make openshift-ci-image-push
  skip_cleanup: true
  on:
    branch: master
    repo: kubevirt/containerized-data-importer
 # Release versioned images
- provider: script
  script: make manifests publish build-functest
  branches:
      only: /v[0-9]+\.[0-9]+\.[0-9]+(-alpha\.[0-9]+){0,1}/
  on:
    tags: true
    repo: kubevirt/containerized-data-importer
- provider: releases
  branches:
    only: /v[0-9]+\.[0-9]+\.[0-9]+(-alpha\.[0-9]+){0,1}/
  on:
    tags: true
    repo: kubevirt/containerized-data-importer
  api_key:
    secure: "Q5HtHys+HEFO/waj0JT/tvkZIuLjBkaygaxRlQ5Qhs0fK2NVo7IU9NipiZSC271F0kmnRdBegQ95yCIn2k4sI4Wf/pqjrHq4h9HNXISnb2BNHxh6nr0Cwf6BzULC8YHkwKyO7KqG0f6v3+I1FTu6VU00tEINZyQhA2ckGC1+b6GSuqUCi04nccZx9fExpWGGg+u2jia7Qvj78Zs20LUAQ8STUcQ7YXWgk40nGUXjwHBcyHAx5pI0PeGOe5mMq7Xzd+RNKpVPy4WAV6sZmB5Zzaka/9nX3EzrZsJd7Ria9dCBT2ef1tydl1mJa6S2D1ymKsYbLpl0E69by3uCXBEZsJsQNTFhVkNgEHPejotQ02Sqj6ZfAJCML5xYAcRNYAi6Bm7fxkmRRduDBeRP3K6Gqd0HOoAvC4gVngcV3KbKVG0ljaPlot+yzkag8zCq8NDwkBvA3oHApISiQvAuGgT1asBhn7Aky80UMu/5SjC6d/EGlKtInfxD4myAI56Fv12vSfudQh7LIWtwtEwnXqwy1wqfT75ytVsWlirzYHM93beEIj12gpzRRjuZXNNasmUQr5gJLmy0Rp8/Fs10EgMJ7ucvgFARUV8Ye55lmgfBTAZ0MMWTjm7R20D8NweF+neDPZYtPxVfHKgwya02TzaOuWE7GKs0pzw2E5hTRNAqiOY="
  overwrite: true
  skip_cleanup: true
  file_glob: true
  file:
  - _out/manifests/release/*.yaml
  - _out/tests/tests.test
- provider: script
  skip_cleanup: true
  script: bash hack/gen-swagger-doc/deploy.sh
  on:
    tags: true
