sudo: required
language: go
go:
- 1.10.x
services:
- docker
env:
- CHANGE_MINIKUBE_NONE_USER=true K8S_VER=1.9.0 MK_VER=0.25.2 K6T_VER=0.4.0 SRC="http://www.tinycorelinux.net/9.x/x86/release/Core-current.iso"
notifications:
  irc:
    channels:
    - chat.freenode.net#kubevirt
    on_success: change
    on_failure: always
before_script:
- curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v$K8S_VER/bin/linux/amd64/kubectl
  && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
- curl -Lo minikube https://storage.googleapis.com/minikube/releases/v$MK_VER/minikube-linux-amd64
  && chmod +x minikube && sudo mv minikube /usr/local/bin/
- sudo minikube start --vm-driver=none --kubernetes-version=v$K8S_VER
- minikube update-context
- JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}';
  until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do
  sleep 1; done
- k_wait_all_running() { while [[ "$(kubectl get $1 --all-namespaces --field-selector=status.phase!=Running
  | wc -l)" -gt 1 ]]; do kubectl get $1 --all-namespaces ; sleep 6; done ; }
- kubectl apply -f https://github.com/kubevirt/kubevirt/releases/download/v$K6T_VER/kubevirt.yaml
- k_wait_all_running pods
script:
- kubectl apply -f manifests/example/endpoint-secret.yaml
- kubectl apply -f manifests/controller/cdi-controller-deployment.yaml
- make manifests/example/golden-pvc.yaml URI="$SRC"
- kubectl apply -f manifests/example/golden-pvc.yaml
- k_wait_all_running pods
- kubectl get pods --all-namespaces
- make test
before_deploy:
- make controller importer
- git config --local user.name "copejon"
- git config --local user.email "copejon@redhat.com"
- source version && git tag -f $RELEASE_TAG
deploy:
- provider: script
  on:
    branch: master
    repo: kubevirt/containerized-data-importer
  script: docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" && make release
  skip_cleanup: true
- provider: releases
  on:
    branch: master
    repo: kubevirt/containerized-data-importer
  api_key:
    secure: "Hf0MGVGcB7mzrqERmhz0f1gh9Nlw1j2t+cv7W+mo/TUKMO4+Sn6ozPEX1W1aP/jPU3n5QsluTLiUXRq87D/8slpICruOSdAnbNgi/Jx7NDD0PQmyRYX58pRzLMZ58+gYenI8OX0O3yvhtNzAN2yjbyS7O403mVuuUl6a8nxwiKsPOFmanbSj9w7tWpH6iB1luzuctzvfaXWyXiBNqZOcJxW9i6k5+aVGgtwvT5AGL/SelaoPk73HKV1xTKdfQYD5kkR8bQ0fOWEbW4zAHw+ZSz9vz0n83Zgw0cLJXP96wKeX8dik/RxclgbRPtN5Gyz0XwHkeKg+hQ0vEbh/SIa4+JPYNfEq8XTgajTzdhNFIytb4mmgqxfuwEg/vZE0xRYB7ZU57UeaxhBYwIeJJGzqZMzw5xojtZoaus8JGsJ6aAznw8RI0+pNSVJGSLDjLwXtSWFPCY4B9dnRdrJ522dx32FyxFXQ2yYzOLG/87z3twyeveH3KMQlrH8ixDkOApS14WIlUgwqckbt/Cm4wlbQ4q5EV2T9PeeVxKQKMEJ83RyiMbqaDZ7RI8I0iHLUczJ4G3+Y36/ddLvJadMJiUs1QHQfA8LnzsgVPLL3p0t4RAY9tWeoWoeYcQEimrZZFWlg9UeWxCO+ex908KqNXMoW9qE/fcvekVQgl1TpDoZWIO4="
  overwrite: true
  file:
  - bin/import-controller
  - bin/importer
  - manifests/controller/cdi-controller-deployment.yaml
